[submodule "backup/.config/alacritty/alacritty-theme"]
	path = submodules/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme
[submodule "submodules/ohmyzsh"]
	path = submodules/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "submodules/zsh-autopair"]
	path = submodules/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule "submodules/powerlevel10k"]
	path = submodules/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "submodules/fast-syntax-highlighting"]
	path = submodules/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "submodules/zsh-no-ps2"]
	path = submodules/zsh-no-ps2
	url = https://github.com/romkatv/zsh-no-ps2.git
[submodule "submodules/fzf-tab"]
	path = submodules/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "submodules/bash-progress-bar"]
	path = submodules/bash-progress-bar
	url = https://github.com/Altair-Bueno/bash-progress-bar
