pnpm/
Code/
dconf/
google-chrome/
Microsoft*
Postman/
pulse/
fnm/
teams/
zoxide
variety/
session/
nemo/
autostart/
budgie*
goa-*/
gtk-*/
gvfs-metadata/
ibus/
menus/
systemd/
evolution/
geary/
gedit/
.gsd-keyboard*
okularrc
okularpartrc
QtProject.conf
Budgie-xdg-terminals.list
eos-update-notifier.first_init
mimeapps.list
monitors.xml*
recently-used.xbel
user-dirs.dirs
xdg-terminals.list
EOS-greeter.conf
GNOME-xdg-terminals.list
