!rstudio/rstudio-prefs.json
!zed/settings.json
.gsd-keyboard*
Budgie-xdg-terminals.list
CMakeTools/
Code Cache/
Code/
Dictionaries/
EOS-arch-news.conf
EOS-greeter.conf
GNOME-xdg-terminals.list
GPUCache/
GitKrakenCLI/
JetBrains/
Local Storage/
MQTT-Explorer/
Microsoft*
ModbusTools
MongoDB Compass/
Postman/
QtProject.conf
Session Storage/
Steam
TelegramDesktop/
Trash/
VirtualBox/
VisualParadigm/
Yabe.exe*
applications/
autostart/
bactrax*
budgie*
connections.db
dconf/
delta/
desktop-directories/
devhelp/
dleyna-renderer-service.conf
eos-update-notifier.first_init
epiphany/
evolution/
flatpak/
fnm/
folks/
fonts/
geary/
gedit/
gh/
github-copilot/
gk/
gnome-*/
go/
goa-*/
google-chrome/
gpaste/
grilo-plugins/
gtk-*/
gvfs-metadata/
helm/
htop
ibus/
icc/
icons/
iterm2/AppSupport
kactivitymanagerdrc
keyrings/
kglobalshortcutsrc
libreoffice/
libvirt/
logs/
menus/
microsoft-edge/
mimeapps.list
monitors.xml*
nautilus/
nemo/
obs-studio/
okular/
okularpartrc
okularrc
orca/
org.gnome.SoundRecorder/
org.gnome.TextEditor/
pnpm/
pulse/
recently-used.xbel
rstudio/
session/
systemd/
teams/
tiling-assistant/
totem/
transmission/
ubuntu-xdg-terminals.list
user-dirs.dirs
uv/
variety/
warp-terminal/
wireshark/
xdg-terminals.list
xreader/
yelp/
zed/*
zoxide