applications/
autostart/
budgie*
Budgie-xdg-terminals.list
Code/
Code Cache/
connections.db
dconf/
desktop-directories/
devhelp/
Dictionaries/
dleyna-renderer-service.conf
EOS-arch-news.conf
EOS-greeter.conf
eos-update-notifier.first_init
epiphany/
evolution/
flatpak/
fnm/
folks/
fonts/
geary/
gedit/
gh/
github-copilot/
gnome-*/
GNOME-xdg-terminals.list
goa-*/
google-chrome/
gpaste/
GPUCache/
grilo-plugins/
.gsd-keyboard*
gtk-*/
gvfs-metadata/
helm/
htop
ibus/
icc/
icons/
iterm2/AppSupport
JetBrains/
keyrings/
libvirt/
Local Storage/
logs/
menus/
Microsoft*
mimeapps.list
MongoDB Compass/
monitors.xml*
MQTT-Explorer/
nautilus/
nemo/
obs-studio/
okular/
okularpartrc
okularrc
orca/
org.gnome.SoundRecorder/
org.gnome.TextEditor/
pnpm/
Postman/
pulse/
QtProject.conf
recently-used.xbel
rstudio/
!rstudio/rstudio-prefs.json
session/
Session Storage/
Steam
systemd/
teams/
TelegramDesktop/
totem/
transmission/
Trash/
user-dirs.dirs
variety/
VisualParadigm/
wireshark/
xdg-terminals.list
xreader/
yelp/
zed/*
!zed/settings.json
zoxide
