[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = abueno
	email = abueno@airzonesl.es
[core]
	excludesfile = /home/compux72/.gitignore_global
	autocrlf = input
[init]
	defaultBranch = master

[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
	credentialStore = secretservice
